.inner-box-styles{
    border-radius: 20px;
    padding: 5px;
    margin: 10px;
}
.inner-box-styles:hover{
     box-shadow:  -4px -1px 10px 5px rgba(0, 0, 0, 0.11);
}

.css-1d9bq45-MuiButtonGroup-root {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    border-radius: 4px;
}

.button-group-button{
    background-color:white  !important ;
    color: #383939  !important ;
    font-weight: bold  !important ;
    border: 1px solid rgba(77, 77, 77, 0.278)  !important ;
}

.button-group-button:focus{
    background-color:#E93314   !important ;
    color: white  !important ;
}

.button-group-button:hover{
    border: 1px solid rgba(0, 0, 0, 0.278)  !important ;
}

